<footer class="footer-distributed">

    <div class="footer-right">

        <a href="https://www.linkedin.com/in/blake-sanders-9320a31a1/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://github.com/stephenblakesanders"><i class="fa fa-github" aria-hidden="true"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a class="link-1" href="/">Home</a>

            <a href="/about">Resume</a>

            <a href="/contact">Contact</a>
        </p>

        <p> Stephen Blake Sanders &copy; 2021</p>
    </div>

</footer>