<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') -%>
</head>

<header>
    <%- include('partials/nav') -%>
</header>

<body>
    <p>heheheheheh</p>
</body>

<footer>

</footer>

<%- include('partials/script') -%>
</html>