<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') -%>
</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <header>
                <%- include('partials/nav') -%> 
            </header>
            
            <div class="myAnimation">
                <div id="stars"></div>
                <div id="stars2"></div>
                <div id="stars3"></div>
                <div id="title">
                    <span>Dev Portfolio<br></span>
                </div>
            </div>
        </div>

        </div>

        <footer>
            <%- include('partials/footer') -%>
        </footer>
    </div>
</body>

<%- include('partials/script') -%>
</html>