<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') -%>
</head>

<header>
    <%- include('partials/nav') -%> 
</header>

<body>
    <section>
        <div class="wrapper" id="wrapper">
          <table class="grid2">
            <tr>
              <td>Start</td>
              <td>Stop</td>
              <td>Wall</td>
            </tr>
          </table>
        </div>
    </section>
</body>

<footer>
    <p>footer</p>
</footer>

<%- include('partials/pathfinder') -%>
<%- include('partials/script') -%>
</html>